* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.my-marker {
  font-size: 50px;
  filter: drop-shadow(0 0 4px rgba(0, 255, 0, 0.7));
}

.other-marker {
  font-size: 50px;
  filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.7));
}
